#deatail__Wrap {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    padding-top: 100px;


    .detail {
        width: 90%;
        height: auto;
        background-color: var(--white);
        box-shadow: inset;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        padding: 10px 3% 0 3%;

        .detail__top {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            padding: 40px 6% 0 6%;
            border-bottom: 1px solid var(--white300);


            .code__info,
            .code__detail {
                padding: 10px;
                font-size: 24px;
                margin: 0 40px 10px 40px;
                cursor: pointer;
                color: var(--white400);

                &.active>p {
                    color: var(--pointColor);
                    /* 원하는 색상으로 변경 */
                }

            }
        }

        .detail__contents {
            display: flex;
            width: 100%;
            height: auto;

            .detail__info {
                width: 100%;
                display: flex;
                /* display: none; */

                .detail__img {
                    width: 50%;
                    padding: 0.8rem 1.6rem;


                    .detail__test {
                        width: 100%;
                        height: auto;
                        background-color: #4e4e4e;
                        border-radius: 30px;

                        img {
                            border-radius: 30px;
                        }
                    }
                }

                .detail__user {
                    width: 50%;
                    padding: 0.8rem 1.6rem;

                    .user__top {
                        display: flex;
                        justify-content: right;
                        padding: 0 0 0 20px;
                        margin-bottom: 20px;

                        .user__visit,
                        .user__delete {
                            background-color: var(--white400);
                            padding: 10px;
                            border-radius: 30px;
                            margin: 10px;
                            font-size: 20px;
                            width: 6.25rem;
                            cursor: pointer;
                        }

                        .user__visit:hover,
                        .user__delete:hover {
                            background-color: var(--pointColor);
                        }
                    }

                    .user__name {
                        font-size: 24px;
                        font-weight: 600;
                        border-bottom: 1px solid var(--white300);
                        padding: 10px;
                    }

                    .user__memo {
                        font-size: 20px;
                        padding: 10px;
                    }
                }
            }

            /* detail__info */

            .detail__code {
                width: 100%;
                display: flex;

                .detail__view {
                    width: 50%;
                    padding: 0.8rem 1.6rem;

                    .detail__title {
                        width: 100%;
                        padding: 20px;
                        font-size: 20px;
                        box-sizing: border-box;
                        border-radius: 30px;
                        border: 1px solid var(--white400);
                        margin-bottom: 1rem;
                    }

                    #detail__desc {
                        width: 100%;
                        height: 29rem;
                        text-align: left;
                        resize: none;
                        overflow-y: auto;
                        border-radius: 30px 0 0 30px;
                        border: 1px solid var(--white400);
                        padding: 20px;
                        box-sizing: border-box;
                        font-size: 16px;
                    }
                }

                .detail__list {
                    width: 50%;
                    padding: 0.8rem 1.6rem;

                    .detail__title {
                        width: 100%;
                        display: flex;
                        display: inline-block;
                        font-size: 24px;
                        border-bottom: 1px solid var(--white300);

                        p {
                            text-align: center;
                            padding: 10px;
                            margin-bottom: 20px;
                            margin-top: 10px;
                        }

                    }

                    .list__title {
                        width: 100%;
                        overflow-y: hidden;
                        height: 30rem;
                        margin-top: 10px;

                        .title__text {
                            /* padding: .5rem 1.3rem; */
                            border-radius: 30px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 1.2rem;
                            margin: 2px;
                            cursor: pointer;
                            border-bottom: 1px solid var(--white300);

                            p {
                                padding: 20px;
                                border-radius: 30px;
                                font-size: 20px;
                                cursor: pointer;
                            }
                        }

                        .title__text:hover {
                            background-color: var(--pointColor);
                        }
                    }
                }
            }

        }

        /* detail__contents */

    }
}

.hidden {
    display: none !important;
}