#footer {
    padding-top: 60px;
    position: relative;
    width: 100%;
    height: 220px;
    background-color: var(--black100);

    .container {
        display: flex;
        flex-direction: column;

        h4 {
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 30px;

            em {
                font-weight: 900;
            }
        }

        .developer {
            margin-bottom: 8px;

            span {
                display: inline-block;
                width: 200px;
                font-size: 1.25rem;
                color: var(--white);
                text-align: left;
            }

            a {
                font-size: 1.25rem;
                color: var(--white200);
            }
        }
    }

    .copyright {
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        position: absolute;
        color: var(--white500);
        font-size: 1.5rem;
        font-weight: 200;
    }
}